{% extends "user_login_reg/base.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block content %}
<!-- <form method="post" action="{% url django.contrib.auth.views.password_reset %}"> -->
<form method="post" action="{% url password_reset_form %}">
    {% csrf_token %}
    <p>Please click on button.
        You will receive a link to create a new password via email.</p>

    <input type="email" name="email"
        placeholder="Your e-mail"><br/>

    <button type="submit">Get new password</button>
</form>
{% endblock content %}
