{% extends "user_login_reg/base.html" %}

<!-- {% block title %}Setting New password{% endblock title %} -->

{% block content %}
<!-- <h4>Set New Password</h4> -->

<!-- <form action="" method="post"> -->
    <!-- {% csrf_token %} -->
    <!-- {% if validlink %}
        <p>Please enter your new password twice.
           So we can verify you typed it in correctly.</p>

        <p>
            {{ form.new_password1.errors }}<br/>
            {{ form.new_password1 }}
        </p>

        <p class="button-height">
            {{ form.new_password2.errors }}<br/>
            {{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid,
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %} -->




    <!-- <body> -->
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
<!-- </body> -->






    <!-- <button type="submit">Change my password</button>
</form> -->
{% endblock content %}
