{% extends "user_login_reg/base.html" %}

{% block title %}Password reset form{% endblock title %}

{% block content %}
<h4>Reset Password</h4>



    <p>Forgotten your password?
       Enter your e-mail address below,
       and we'll e-mail instructions for setting a new one.</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}`enter code here`
        <div class="message red-gradient">{{ form.email.errors }}</div><br/>
        {% endif %}
        <!-- <input type="email" name="email"
            placeholder="Your e-mail"><br/> -->

        <p>E-mail address: {{ form.email }} <br/><br/>
    <input type="submit" value="Reset my password"></p>
    </form>

{% endblock content %}
