<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    tr,td
    {
      border: 3px solid;
    }
  </style>
</head>
<body>

<h1 style="color: red;"><center>K. J. Somaiya College of Engineering</center></h1>
<center><p style="color: red;">Vidyanagar, Vidya Vihar East, Ghatkopar East
    Mumbai, Maharashtra 400077</p></center><hr align="center" size="2" noshade color="black" style="width: 75%;">
<p align="center" style="font-size: 25px"><b>Provisional Allotment Letter for Admission to First Year of Under Graduate<br>
    Technical Courses in Engineering and Technology for the Academic Year : 2020-2021</b></p>
<h2 align="center">Application ID: 2019000001</h2><hr align="center" size="2" noshade color="black" style="width: 50%;">
<h3 style="margin-left: 2%">Personal Details:</h3>
<table border="3" cellpadding="3" style="width:96%; border-color: black;border-collapse: collapse;margin-left: 2%;margin-right: 2%">
  <col width="24%">
  <col width="24%">
  <col width="24%">
  <col width="24%">  
    <tr>
      <td>Firstname</td>
      <td>A</td>
      <td>Lastname</td>
      <td>M</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
      <td>DOB(DD/MM/YYYY)</td>
      <td>19/4/2002</td>
    </tr>
    <tr>
        <td>Candidature</td>
        <td>A</td>
        <td>Home University</td>
        <td>M</td>
    </tr>
    <tr>
      <td>Category</td>
      <td>A</td>
      <td>Category of Admission</td>
      <td>M</td>
    </tr>
    <tr>
        <td>Person With Disability</td>
        <td>A</td>
        <td>Defence type</td>
        <td>M</td>
      </tr>
      <tr>
        <td>Applied For TFWS</td>
        <td>A</td>
        <td>konkan Candidature</td>
        <td>M</td>
      </tr>
      <tr>
        <td>Linguistic Minority</td>
        <td>A</td>
        <td>Religious Minority</td>
        <td>M</td>
      </tr><br><br>
  </table><br>
  <h3 style="margin-left: 2%">Allotment Status: </h3><br>
  <h3 style="margin-left: 2%">Published On : 03/01/2020</h3>
  <style type="text/css">
    @media print {
        #printbtn {
            display :  none;
        }
    }
</style>

<input id ="printbtn" type="button" value="Print this page" onclick="window.print();" >
</script>
</body>
</html>
